body {
    font-family: Georgia, sans-serif;
    margin: 0; /* 默认没有外边距 */
    color: rgb(255, 255, 255); /* 设置字体颜色 */
    font-size: 16px;
    overflow: auto;
}

#video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000; /* 确保视频位于内容的下方 */
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* 默认格式 */
#container {
    position: relative;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: auto;
}

/* 滚动条的宽度和背景颜色 */
::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

/* 滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; /* 滑块圆角 */
}

    /* 滚动条滑块的悬停样式 */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

/* 喇叭标志 */
#speaker-icon {
    position: absolute;
    top: 20px;
    right: 130px;
    width: 24px;
    height: 24px;
}

/* 音量滑块 */
#volume-control {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
}

/* 背景透明框 */
#overlay-box {
    position: absolute;
    top: 120px;
    left: 12%;
    width: 1250px;
    height: 770px;
    background-color: rgba(128, 128, 128, 0.3); /* 透明 灰色 */
    border-radius: 10px;
    border: 5px solid #ffffff; /* 白色边框 */
    transition: height 0.3s ease-in-out; /* 过渡效果 */
    z-index: -500; /* 其他内容的下方且在视频上方 */
}
#logo {
    font-family: STHupo, sans-serif;
    margin-top: 50px;
    font-size: 48px;
    color: rgb(59, 180, 228);
    margin-bottom: 25px;
}

#input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* 间距控制 */
    margin-top: 20px; /* 顶部间距 */
}

/* 选择框的标题 */
.header-text {
    font-size: 20px;
    color: rgb(172, 205, 24, 1);
}

/* confirm按钮 */
#confirm-button {
    background-color: rgb(172, 205, 24, 1);
    color: white;
    border: none;
    padding: 7px 16px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.1s;
    margin-top: 20px;
    border-radius: 3px;
}

    #confirm-button:hover {
        background-color: #d1a655; /* 或任何稍微深一点的黄色 */
    }

    #confirm-button:active {
        opacity: 0.5;
    }

/* Try Again按钮 */
#try-again-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 7px 16px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.1s;
    margin-top: 3px;
    border-radius: 3px;
}

    #try-again-button:hover {
        background-color: rgb(6, 5, 2);
    }

    #try-again-button:active {
        opacity: 0.3;
    }

.input-wrapper {
    position: relative;
    display: inline-block;
}

#user-id {
    margin-bottom: 10px;
    width: 200px;
}
/*进度条*/
#progress-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#progress-bar {
    width: 0;
    height: 4px;
    background-color: #3498db;
}

#game-title {
    font-size: 34px;
    font-family: STHupo, sans-serif;
    color: rgb(59, 180, 228);
    margin-top: 30px;
}
#recommendations {
    text-align: center;
}

#games-list {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 3600px;
    margin-top: 40px;
}

.game-group {
    width: 100%;
    max-width: 3600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px auto; /* 上边距和下边距 */
}

#info-box-container {
    position: relative;
}
/*price和reason区域*/
.info-box {
    position: absolute;
    top: 20px;
    right: 300px;
    width: 470px;
    height: 270px;
    background-color: rgba(128, 128, 128, 0.3); /* 透明 灰色 */
    border-radius: 10px;
    border: 5px solid #d1a655; /* 边框 */
    display: flex;
    z-index: 1;
    text-align: left; /* 左对齐 */
    color: #ffffff; /* 字体颜色 */
    line-height: 1.5; /* 行间距 */
    padding: 10px; /* 内填充确保文本不会过于贴近边框 */
}
/*info-box里的变色*/
.highlighted-text {
    color: #d1a655;
}


#game-display {
    margin-top: 50px;
    position: relative;
    width: 700px;
    margin: auto;
    overflow: hidden;
    transition: transform 0.3s ease-out;
}

.carousel {
    margin-top: 20px;
    display: flex;
    transition: transform 0.5s ease-in-out; /* 切换动画 */
}

    .carousel div {
        min-width: 100%;
        box-sizing: border-box;
    }

#prev-button, #next-button {
    display: none;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.9); /* 半透明的白色背景 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    color: #333;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    opacity: 0.5; /* 透明度 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

    #prev-button:hover, #next-button:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
#prev-button {
    left: 70px;
}

#next-button {
    right: 70px;
}

#carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#carousel-dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

#carousel-dots .dot:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#carousel-dots .dot.active {
    width: 40px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); /* 活动点的背景颜色 */
}

#carousel-dots .dot.active:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
/* 图片和游戏名字 */
.carousel img {
    width: 570px;
    height: 300px;
    object-fit: fill;
    border: none;
    border-radius: 10px;
}

.carousel p {
    text-align: center;
    margin: 10px 0; /* 上下边距 */
}

#error-message {
    color: red;
    font-weight: bold;
}



#info-icon {
    width: 15px;
    height: 15px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 110%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

#game-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-type-row {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

    .game-type-row label {
        margin-right: 100px;
    }

    .game-type-row img {
        width: 300px;
        height: 200px;
        object-fit: fill;
        display: block;
        margin-top: 5px;
    }

    .any-label {
        text-align: center;
    }
.single-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}