<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SteamGem</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <main id="container">
        <video id="video-background" autoplay loop controls muted>
            <source src="/static/background.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
        <header>
            <img src="../static/speaker-icon.png" id="speaker-icon" alt="Volume Icon">
            <label for="volume-control">Volume:</label>
            <input type="range" id="volume-control" min="0" max="1" step="0.1" value="0">
        </header>

        <section id="content">
            <h1 id="logo">SteamGem</h1>
            
            <form id="user-form">
                <label for="user-id">User ID:</label>
                <input type="text" id="user-id" placeholder="User ID" required>
                
                <fieldset id="game-type">
                    <legend>Game Type:</legend>
                    <label><input type="checkbox" name="game-type" value="action"> Action</label>
                    <label><input type="checkbox" name="game-type" value="rpg"> RPG</label>
                    <label><input type="checkbox" name="game-type" value="strategy"> Strategy</label>
                    <label><input type="checkbox" name="game-type" value="adventure"> Adventure</label>
                    <label><input type="checkbox" name="game-type" value="simulation"> Simulation</label>
                    <label><input type="checkbox" name="game-type" value="sports and racing"> Sports and Racing</label>
                    <label><input type="checkbox" name="game-type" value="any" id="any-checkbox"> Any</label>
                </fieldset>

                <fieldset id="time-limitation">
                    <legend>Time Limitation:</legend>
                    <label for="from-month1">From:</label>
                    <select id="from-month1" required>...</select>
                    <select id="from-year1" required>...</select>
                    
                    <label for="from-month2">To:</label>
                    <select id="from-month2" required>...</select>
                    <select id="from-year2" required>...</select>
                    
                    <label>ANY TIME: <input type="checkbox" id="any-time-checkbox"></label>
                </fieldset>
                
                <button type="button" id="confirm-button">Confirm</button
